<h1>New item comment</h1>

<%= render "form", item_comment: @item_comment , url: user_store_item_item_comments_path %>

<br>

<div>
  <%= link_to "Back to item comments", user_store_item_item_comments_path %>
</div>
