<div id="<%= dom_id subcategory %>">
  <p>
    <strong>Category:</strong>
    <%= subcategory.category_id %>
  </p>

  <p>
    <strong>Name ku:</strong>
    <%= subcategory.name_ku %>
  </p>

  <p>
    <strong>Name en:</strong>
    <%= subcategory.name_en %>
  </p>

</div>
