<h1>Editing item variant</h1>

<%= render "form", item_variant: @item_variant %>

<br>

<div>
  <%= link_to "Show this item variant", @item_variant %> |
  <%= link_to "Back to item variants", item_variants_path %>
</div>
