<h1>New item variant</h1>

<%= render "form", item_variant: @item_variant, url: user_store_item_item_variants_url  %>

<br>

<div>
  <%= link_to "Back to item variants", user_store_item_item_variants_path %>
</div>
