<div id="<%= dom_id item_star %>">
  <p>
    <strong>Item:</strong>
    <%= item_star.item_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= item_star.number %>
  </p>

  <p>
    <strong>Reviewers:</strong>
    <%= item_star.reviewers %>
  </p>

</div>
