<h1>Editing item star</h1>

<%= render "form", item_star: @item_star, url: user_store_item_item_star_url %>

<br>

<div>
  <%= link_to "Show this item star", user_store_item_item_star_path(id: @item_star )  %> |
  <%= link_to "Back to item stars", user_store_item_item_stars_path %>
</div>
