<%= search_form_for @q do |f| %>
  <div class="d-flex p-2 ">
    <%= f.search_field :email_or_name_cont, class: "form-control", placeholder: "Email or name" %>
    <%= f.submit 'Search', class: "btn btn-outline-success ms-1" %>
  </div>
<% end %>