<h1>Users</h1>
<%= render 'shared/search',search_query: :email_or_name_cont, placeholder: "Email or name" %>
<%= render @users%>
<div class="d-flex justify-content-center">
    <%= will_paginate @users, class: "digg_pagination" %>
</div>