<h1>New item analytic</h1>

<%= render "form", item_analytic: @item_analytic, url: user_store_item_analytics_path %>

<br>

<div>
  <%= link_to "Back to item analytics", user_store_item_analytics_path %>
</div>
