<h1>Editing store analytic</h1>

<%= render "form", store_analytic: @store_analytic, url: user_store_store_analytic_url %>

<br>

<div>
  <%= link_to "Show this store analytic", user_store_store_analytic_path(id: @store_analytic) %> |
  <%= link_to "Back to store analytics", user_store_store_analytics_path %>
</div>
