<h1>New store analytic</h1>

<%= render "form", store_analytic: @store_analytic, url: user_store_store_analytics_url %>

<br>

<div>
  <%= link_to "Back to store analytics", user_store_store_analytics_path %>
</div>
