<%= render @store_analytic %>

<div>
  <%= link_to "Edit this store analytic", edit_user_store_store_analytic_path(@store_analytic) %> |
  <%= link_to "Back to store analytics", user_store_store_analytics_path %>

  <%= button_to "Destroy this store analytic", user_store_store_analytic_path(id: @store_analytic), method: :delete, class: "btn btn-danger mt-5" %>
</div>
