<%= render @item %>

<div>
  <%= link_to "Edit this item",  edit_user_store_item_path(@item) %> |
  <%= link_to "Back to items", user_store_items_path %>

  <%= button_to "Destroy this item",  user_store_item_path(@item), method: :delete, class: "btn btn-danger mt-5" %>
</div>
