<div id="<%= dom_id store_star %>">
  <p>
    <strong>Store:</strong>
    <%= store_star.store_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= store_star.number %>
  </p>

  <p>
    <strong>Reviewers:</strong>
    <%= store_star.reviewers %>
  </p>

</div>
