<h1>New store comment</h1>

<%= render "form", store_comment: @store_comment, url:  user_store_store_comments_path%>

<br>

<div>
  <%= link_to "Back to store comments", user_store_store_comments_path %>
</div>
