<div id="<%= dom_id order_variant %>">
  <p>
    <strong>Order:</strong>
    <%= order_variant.order_id %>
  </p>

  <p>
    <strong>Item variant:</strong>
    <%= order_variant.item_variant_id %>
  </p>

</div>
