<h1>New order variant</h1>

<%= render "form", order_variant: @order_variant, url: user_store_item_order_order_variants_path %>

<br>

<div>
  <%= link_to "Back to order variants", user_store_item_order_order_variants_path %>
</div>
